@import '../../assets/css/styles.scss';

.demo-drawer-header{
  background-color: $defualt-color;
  height: $header-height;
  position: relative;
  padding-left: 20px;

  .demo-logo{
    width: $header-height - 10;
    height: $header-height - 10;
    padding: 5px;
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
  }

  span{
    color: #FFF;
    font-size: $brand-size;
    vertical-align: middle;
  }
}

.mdl-layout__drawer{
  // width: 110px !important;
  border: none !important;
}

// .mdl-layout__content {
//   margin-left: 110px !important;
// }

// .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
//   margin-left: 110px !important;
//   width: calc(100% - 110px) !important;
// }

.demo-navigation .mdl-navigation__link .material-icons{
  margin-right: 32px;
}

demo-avatar{
  width: 100px;
  height: 100px;
}

@keyframes spin {
  100%{
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
